/* принудительное переключение на тёмную тему через кнопку */

:root.theme-dark {
  --bg-image: url("../images/cover-image-dark.png");
  --accent-color: #ff0070;
  --accent-color-transparent: #ff007066;
  --text-color: #f1b2ce;
  --decor-color: var(--accent-color);
  --page-background-color: #000028;
  --main-heading-color: #db00ff;
  --section-heading-color: var(--accent-color);
  --card-heading-color: var(--page-background-color);
  --rec-display: visible;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-image: url("../images/cover-image-dark.png");
    --accent-color: #ff0070;
    --accent-color-transparent: #ff007066;
    --text-color: #f1b2ce;
    --decor-color: var(--accent-color);
    --page-background-color: #000028;
    --main-heading-color: #db00ff;
    --section-heading-color: var(--accent-color);
    --card-heading-color: var(--page-background-color);
    --rec-display: visible;
  }

  .header__rec-indicator::before {
    display: inline-block;
  }

  .header__rec-indicator::after {
    display: inline-block;
  }
}

.theme-dark .header__rec-indicator::before {
  display: inline-block;
}

.theme-dark .header__rec-indicator::after {
  display: inline-block;
}



