/* принудительное переключение на светлую тему через кнопку */

:root.theme-light {
  --bg-image: url("../images/cover-image-light.png");
  --accent-color: #ff8dcb;
  --accent-color-transparent: #32312d66;
  --text-color: #353430;
  --decor-color: var(--text-color);
  --page-background-color: #fff1f7;
  --main-heading-color: #ffc2e6;
  --section-heading-color: var(--text-color);
  --card-heading-color: var(--text-color);
  --rec-display: hidden;
}

/* Если у пользователя в системе стоит светлая тема — подхватываем её */

@media (prefers-color-scheme: light) {
  :root {
    --bg-image: url("../images/cover-image-light.png");
    --accent-color: #ff8dcb;
    --accent-color-transparent: #32312d66;
    --text-color: #353430;
    --decor-color: var(--text-color);
    --page-background-color: #fff1f7;
    --main-heading-color: #ffc2e6;
    --section-heading-color: var(--text-color);
    --card-heading-color: var(--text-color);
    --rec-display: hidden;
  }
}

.theme-light .header__rec-indicator::before {
  display: none;
}

.theme-light .header__rec-indicator::after {
  display: none;
}





